version: '3.8'

services:
  bot:
    build: .
    volumes:
      - ./data:/app/data
      - ./scripts:/app/scripts
      - ./staraya bd:/app/staraya bd
    env_file:
      - .env
    restart: always

  admin_web:
    build:
      context: .
      dockerfile: admin_web/Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./data:/app/data
      - ./scripts:/app/scripts
      - ./staraya bd:/app/staraya bd
    depends_on:
      - bot
    restart: always

volumes:
  data:
