{% extends "base.html" %}
{% block content %}
<div class="row g-3">
    {% for p in prices %}
    <div class="col-12 col-md-6">
        <div class="card p-3">
            <h6 class="fw-bold">{{ p.key.replace('category_price_', '').replace('_', ' ').upper() }}</h6>
            <form action="/prices/edit" method="post" class="input-group">
                <input type="hidden" name="key" value="{{ p.key }}">
                <input type="number" name="value" value="{{ p.value }}" class="form-control">
                <span class="input-group-text">0.1 токена</span>
                <button type="submit" class="btn btn-success">Save</button>
            </form>
            <div class="small text-muted mt-1">Пример: 10 = 1 токен, 15 = 1.5 токена</div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

